<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
    <h1>Wallet Practice</h1>

    <button id="Wallet_btn">지갑 생성</button>

    <ul id="wallet_list">
        <li> Coin : ingCoin </li>
        <li> account :
            <span class="account"></span>
        </li>
        <li> private key :
            <span class="privateKey"></span>
        </li>
        <li> public key :
            <span class="publicKey"></span>
        </li>
        <li> balance :
            <span class="balance"></span>
        </li>
    </ul>

    <h1> TX 정보 </h1>

    <form id="transaction_form">
        <ul>
            <li>
                receiver : <input id="receiver" placeholder="받을 사람"/>
            </li>
            <li>
                amount : <input id="amount" placeholder="보낼 금액"/>
            </li>
        </ul>
        <input type="submit" value='전송'/>
    </form>

    <h1>wallet list</h1>
    <button id="wallet_list_btn">지갑 목록 버튼</button>
    <div class="wallet_list2">
        <ul>

        </ul>
    </div>

    <script type="text/javascript">
        const walletBtn = document.querySelector('#Wallet_btn')

        const createWallet = async () => {
            const response = await axios.post('/newWallet', null )
            console.log(response.data)
        }

        walletBtn.addEventListener('click', createWallet)

        //

        const walletListBtn = document.querySelector('#wallet_list_btn')

        const getWalletList = async() => {
            const walletList = document.querySelector('.wallet_list2 > ul')
            const response = await axios.post('/walletList', null)

            const list = response.data.map((account) => {
                return `<li onClick="getView('${account}')">${account}</li>`
            })

            walletList.innerHTML = list
        }

        walletListBtn.addEventListener('click', getWalletList)

        //

        const getView = async (wallet) => {
            const response = await axios.get(`/wallet/${wallet}`)
            console.log(response.data)
            view(response.data)
        }

        const view = (wallet) => {
            const account = document.querySelector('.account')
            const publicKey = document.querySelector('.publicKey')
            const privateKey = document.querySelector('.privateKey')
            const balance = document.querySelector('.balance')

            account.innerHTML = wallet.account
            publicKey.innerHTML = wallet.publicKey
            privateKey.innerHTML = wallet.privateKey
            balance.innerHTML = wallet.balance
        }

        // 지갑 정보 요청해 받아와서 렌더링

        const transactionForm = document.querySelector('#transaction_form')

        const submitHandler = async (e) => {
            e.preventDefault()

            const publicKey = document.querySelector('.publicKey').innerHTML
            const account = document.querySelector('.account').innerHTML

            const data = {
                sender : {
                    publicKey,
                    account
                },
                receiver : e.target.receiver.value,
                amount : parseInt(e.target.amount.value)
            }
            console.log(data)
            const response = await axios.post('/sendTransaction', data)
        }

        transactionForm.addEventListener('submit', submitHandler)

    </script>
</body>
</html>